[Unit]
Description=Quorum Service
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/ibft-network/quorum-1
Environment="ADDRESS=f36d2804150c8cb99e59e9746aecf7590ef9d549"
Environment="PRIVATE_CONFIG=../tessera-1/tm.ipc"
ExecStart=/bin/bash -c "../quorum/geth --datadir data --nodiscover --istanbul.blockperiod 3 --syncmode full --mine --miner.threads 1 --verbosity 5 --networkid 10 --http --http.addr 10.0.0.11 --http.port 8545 --http.api admin,db,eth,debug,miner,net,shh,txpool,personal,web3,quorum,istanbul --emitcheckpoints --allow-insecure-unlock --port 30303"

[Install]
WantedBy=multi-user.target